include helpers/variables
include helpers/mixins

doctype html
html(lang="en",data-ng-strict-di)
  head
    include partials/header-meta
    include partials/header-title
    include partials/header-stylesheets
    include partials/header-scripts
  body(unresolved)
    block body-absolutes
    .container-fluid
      .row
        include partials/body-ng-controller
        +body-ng-controller
          include partials/body-header
          include partials/body-title
          include partials/body-content
          include partials/body-footer
    include partials/body-ng-templates
    include partials/body-scripts
    include partials/body-polymer-elements