html,body
  margin 0
  padding 0
  height 100%
  width 100%
  position relative
body
  color $color-font
  background-color $color-background
  transition opacity ease-in 0.2s
body[unresolved]
  opacity 0
  display block
  overflow hidden
.logo
  width 100px
  height 100px
  margin 0 10px 10px 0
  float left
  transition all 500ms ease
  border 2px solid #555
  &:hover
    box-shadow 0 0 15px #fff
.highlighted
  box-shadow 0 0 15px yellow